/application/config/config.json
/application/config/mods/*
!/application/config/mods/example.json
/application/sockets/*
/podman/systemd/*

!.gitkeep

/docker/*
!/docker/deploy.sh
!/docker/docker-compose.yaml
